<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Dashboard</title>
  <!-- Include any necessary CSS or stylesheets here -->
</head>

<body>
    <div>
        <h1>Welcome to the Dashboard</h1>
        <!-- Output the value of the 'value' variable -->
        <%= values %>
    </div>
</body>

</html>
