<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MEDICARE PALLIATIVE CENTRE</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
  <link rel="icon" type="image/png" href="/images/paliativefavicon.png" style="border-radius: 50%;">

  <style>
    body {
      background-color: #222736;
      color: azure;
    }
   

    .sidebar {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      padding: 58px 0 0; 
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05), 0 2px 10px 0 rgba(0, 0, 0, 0.05);
      width: 240px;
      z-index: 600;
      background-color: #2F3446;
      
    }
    .sidebar.collapsed {
      width: 0;
      padding: 58px 0 0;
    }
    @media (max-width: 992px) {
      .sidebar {
        display: none; 
      }
      .sidebar.active {
        display: block; 
      }
    }
    .sidebar.active {
      border-radius: 5px;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }
    .sidebar-sticky {
      position: relative;
      top: 0;
      height: calc(100vh - 48px);
      padding-top: 0.5rem;
      overflow-x: hidden;
      overflow-y: auto; 
    }
    /* sidebar link styles */
    .list-group-item {
      background-color: #2F3446 !important;
      border: none !important;
    }
    .list-group-item:hover {
      background-color: #3a3f53 !important;
    }
    .list-group-item.active {
      background-color: #3a3f53 !important;
    }
    /*navbar styles */
    #main-navbar {
      background-color: #2F3446; 
    }
    #main-navbar .navbar-toggler {
      background-color: #2F3446; 
    }
    .sidebar .list-group-item {
    color: white;
}

  </style>
</head>
<body>

<header>

    <!-- sidebar -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse ">
        <div class="position-sticky">
          <div class="list-group list-group-flush mx-3 mt-5">
            <a href="/admin/dashboard" class="list-group-item list-group-item-action py-3 ripple">
              <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Dashboard</span>
            </a>
            <a href="/admin/patients" class="list-group-item list-group-item-action py-3 ripple">
              <i class="fas fa-users fa-fw me-3"></i><span>Patients</span>
            </a>
            <a href="/admin/doctors" class="list-group-item list-group-item-action py-3 ripple">
                <i class="fas fa-user-md  fa-fw me-3"></i><span>Doctors</span>
            </a>
            <a href="/admin/staffs" class="list-group-item list-group-item-action py-3 ripple">
                <i class="fas fa-user-tie fa-fw me-3"></i><span>Laboratory Staffs</span>
            </a>
            <div class="list-group">
                <div id="medicineToggle" class="list-group-item list-group-item-action py-3 ripple" style="background-color: #2F3446; color: white;" onclick="toggleMedicineButtons()">
                    <i class="fas fa-chart-area fa-fw me-3"></i>  Medicines <span>&#9662;</span>
                </div>
                <div id="medicineButtons" style="display: none;">
                    <a href="/admin/medicines" class="list-group-item list-group-item-action py-3 ripple" style="background-color: #2F3446; color: white;">
                        <span>&#8226;</span> Medicines
                    </a>
                    <a href="/admin/distributionHistory" class="list-group-item list-group-item-action py-3 ripple" style="background-color: #2F3446; color: white;">
                        <span>&#8226;</span> Distributions
                    </a>
                </div>
            </div>
            
            <div class="list-group">
                <div id="attendanceToggle" class="list-group-item list-group-item-action py-3 ripple" style="background-color: #2F3446; color: white;" onclick="toggleAttendanceButtons()">
                    <i class="fas fa-chart-area fa-fw me-3"></i>  Attendance <span>&#9662;</span>
                </div>
                <div id="attendanceButtons" style="display: none;">
                    <a href="/admin/attendance/doctors" class="list-group-item list-group-item-action py-3 ripple" style="background-color: #2F3446; color: white;">
                        <span>&#8226;</span><span> Doctor Attendance</span>
                    </a>
                </div>
            </div>
          </div>
        </div>
      </nav>
<!-- sidebar end -->

  <!-- Navbar -->
  <nav id="main-navbar" style="background-color: #2F3446;" class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container-fluid mt-3">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Brand Logo -->
      <a class="navbar-brand" href="#">
        <div style="background-color: #2F3446; width: 150px; height: 50px;">
          <img src="/images/newPal.png" alt="logo" class="mb-0" style="width: 100%; height: 100%;">
        </div>
      </a>
      
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">

          <!-- Notification Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"
            href="#" id="navbarDropdownNotification"
            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-bell" style="font-size: 1.8rem;"></i>
              <span class="badge rounded-pill badge-notification bg-danger">1</span>
            </a>
            <div class="dropdown-menu dropdown-menu-start" aria-labelledby="navbarDropdownNotification">
              <a class="dropdown-item" href="#">Some news</a>
              <a class="dropdown-item" href="#">Another news</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
  
          <!-- Profile Dropdown -->
          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle " href="#" id="navbarDropdownProfile" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img 
              src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img (31).webp" 
              class="rounded-circle" 
              height="45" 
              alt="Avatar"
              >
            </a>
            <div class="dropdown-menu dropdown-menu-start " aria-labelledby="navbarDropdownProfile">
              <a class="dropdown-item" href="#">Logout</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navbar End -->
</header>

<h2>hyhbydebdyebdeyb</h2>
<!--Main layout-->
<main style="margin-top: 58px;">
  <div class="container pt-4">
     <!-- Dynamic content will be loaded here -->
     <div id="dynamic-content"></div>

  </div>
</main>
<!--Main layout-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    // Function to load content into the dynamic-content div
    function loadContent(url) {
      fetch(url)
        .then(response => response.text())
        .then(data => {
          document.getElementById('dynamic-content').innerHTML = data;
          $('#sidebarMenu').removeClass('active');
        })
        .catch(error => console.error('Error loading content:', error));
    }
  
    //  to handle sidebar toggle
    $(document).ready(function() {
      $('#main-navbar .navbar-toggler').on('click', function() {
        $('#sidebarMenu').toggleClass('active');
      });
  
      // Close sidebar when clicking outside of it
      $(document).on('click', function(e) {
        if (!$(e.target).closest('.sidebar').length && !$(e.target).closest('#main-navbar').length) {
          $('#sidebarMenu').removeClass('active');
        }
      });
  
      // Close sidebar when clicking on sidebar links
      $('#sidebarMenu .list-group-item').on('click', function() {
        $('#sidebarMenu').removeClass('active');
      });

      // Handle sidebar button clicks to load content
      $('#sidebarMenu .list-group-item').on('click', function(event) {
        event.preventDefault(); // Prevent default link behavior
        var url = $(this).attr('href'); // Get the URL from the clicked link
        loadContent(url); // Load content from the URL
      });
    });
</script>

<!-- medicine drop -->

<script>
    function toggleMedicineButtons() {
        var medicineButtons = document.getElementById("medicineButtons");
        if (medicineButtons.offsetHeight > 0) {
            medicineButtons.style.display = "none";
        } else {
            medicineButtons.style.display = "block";
        }
    }
</script>

<!-- Attendance drop -->
<script>
    function toggleAttendanceButtons() {
        var buttons = document.getElementById("attendanceButtons");
        if (buttons.offsetHeight > 0) {
            buttons.style.display = "none";
        } else {
            buttons.style.display = "block";
        }
    }
</script>


</body>
</html>
